<form class="pure-form" action="/renew/<%= @memo.id %>" method="post">
    <fieldset>
        <legend>メモの編集</legend>

        <input type="text" placeholder="タイトル" value="<%= @memo.title %>">
        <input type="text" placeholder="内容" value="<%= @memo.content %>">

        <label for="categories">カテゴリ</label>
        <select id="categories" name="category">
            <option></option>
        </select>
        <button type="submit" class="pure-button pure-button-primary">更新</button>
    </fieldset>
</form>
